/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

<style>
    div.output_text{text-align:left;color:#000000;font-family:monospace;
                    line-height:1.231em;font-size:118%}  
    div.text_cell_render{font-size:120%;outline:none;resize:none;width:inherit;
                         border-style:none;padding:.5em .5em .5em .4em;color:#000000;}
    div.output_text{text-align:left;color:#000;line-height:1.21429em;font-size:117%;}
    .CodeMirror{line-height:1.231em;height:auto;background:none;}
    .CodeMirror pre{padding:0;border:0;border-radius:0;-webkit-border-radius:0;
        -moz-border-radius:0;border-radius:0;font-size:117%}
    .rendered_html h1{font-size:185.7%;margin:1.08em 0 0 0;font-weight:bold;line-height:1; color: #A52A2A;}
    .rendered_html h2{font-size:157.1%;margin:1.27em 0 0 0;font-weight:bold;line-height:1; color: #CC0000;}
    .rendered_html h3{font-size:128.6%;margin:1.55em 0 0 0;font-weight:bold;line-height:1; color: #DC143C;}
    .rendered_html h4{font-size:115%;margin:2em 0 0 0;font-weight:bold;line-height:1; color: #FF6347;}
    .rendered_html h5{font-size:110%;margin:2em 0 0 0;font-weight:bold;line-height:1;font-style:italic; color: #F08080;}
    .rendered_html h6{font-size:100%;margin:2em 0 0 0;font-weight:bold;line-height:1;font-style:italic; color: #FFA07A;}
</style>

/*
    .rendered_html h1{font-size:185.7%;margin:1.08em 0 0 0;font-weight:bold;line-height:1; color: #800000;}
    .rendered_html h2{font-size:157.1%;margin:1.27em 0 0 0;font-weight:bold;line-height:1; color: #990000;}
    .rendered_html h3{font-size:128.6%;margin:1.55em 0 0 0;font-weight:bold;line-height:1; color: #b30000;}
    .rendered_html h4{font-size:115%;margin:2em 0 0 0;font-weight:bold;line-height:1; color: #cc0000;}
    .rendered_html h5{font-size:110%;margin:2em 0 0 0;font-weight:bold;line-height:1;font-style:italic; color: #e60000;}
    .rendered_html h6{font-size:100%;margin:2em 0 0 0;font-weight:bold;line-height:1;font-style:italic; color: #db4c4c;}



    h1 {font-size:190%; margin:0.35em 0; font-weight: bold; color: #800000;}
    h2 {font-size:150%; margin:0.40em 0; font-weight: bold; color: #990000;}
    h3 {font-size:135%; margin:0.45em 0; font-weight: bold; color: #b30000;}
    h4 {font-size:135%; margin:0.45em 0; font-weight: bold; color: #cc0000;}
    h5 {font-size:125%; margin:0.50em 0; font-weight: bold; color: #e60000;}
    h6 {font-size:90%; margin:0.60em 0; font-weight: bold; color: #db4c4c;}
*/
